{% extends 'base1.html.twig' %}

{% block title %}Nouvelle Préstation{% endblock %}

{% block body %}
<!-- Dashboard Headline -->
<div class="dashboard-headline">
    <h3>Nouvelle Préstation</h3>
    <!-- Breadcrumbs -->
    <nav id="breadcrumbs" class="dark">
        <ul>
            <li><a href="#">Acceuil</a></li>
            <li><a href="{{ path('ListeDesPrestations')}}">Préstations</a></li>
            <li>Nouvelle Préstation</li>
        </ul>
    </nav>
</div>

<!-- Row -->
<form action="{{path('PublierPrestation')}}" method="POST" enctype="multipart/form-data">
<div class="row">
    <!-- Dashboard Box -->
    <div class="col-xl-12">
        <div class="dashboard-box margin-top-0">

            <!-- Headline -->
            <div class="headline">
                <h3><i class="icon-feather-folder-plus"></i>Formulaire de soumission</h3>
            </div>

            <div class="content with-padding padding-bottom-10">
                <div class="row">

                    <div class="col-xl-8">
                        <div class="submit-field">
                            <h5>Titre</h5>
                            <input required type="text" name="titre" id="titre" class="form-control required" placeholder="e.g. Construisez-moi un site Web">
<!--                             <p id="validationTitre" style="color: #d9534f;display: none">Merci de saisir titre de prestation</p> -->
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="submit-field">
                            <h5>Activités</h5>
                            <select name="activite" class="selectpicker with-border" data-size="7" title="Sélectionner une activité">
                                {% for activite in activites %}
                                <option value="{{activite.id}}">({{activite. abreviation}}) {{activite.libelle}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div> 

                    
                    </select>
                    <!-- <div class="col-xl-4">
                        <div class="submit-field">
                            <h5>Location  <i class="help-icon" data-tippy-placement="right" title="Leave blank if it's an online job"></i></h5>
                            <div class="input-with-icon">
                                <div id="autocomplete-container">
                                    <input id="autocomplete-input" class="with-border" type="text" placeholder="Anywhere">
                                </div>
                                <i class="icon-material-outline-location-on"></i>
                            </div>
                        </div>
                    </div>  -->

                    <div class="col-xl-8">
                        <div class="submit-field">
                            <h5>Quel est votre budget estimé?</h5>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="input-with-icon">
                                        <input required class="with-border" type="text" name="prixMin" placeholder="Minimum">
                                        <i class="currency">EUR</i>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input-with-icon">
                                        <input required class="with-border" type="text" name="prixMax" placeholder="Maximum">
                                        <i class="currency">EUR</i>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="feedback-yes-no margin-top-0">
                                <div class="radio">
                                    <input id="radio-1" name="radio" type="radio" checked>
                                    <label for="radio-1"><span class="radio-label"></span> Fixed Price Project</label>
                                </div>

                                <div class="radio">
                                    <input id="radio-2" name="radio" type="radio">
                                    <label for="radio-2"><span class="radio-label"></span> Hourly Project</label>
                                </div>
                            </div> -->
                        </div>
                    </div>
{#
                   <div class="col-xl-8">
                        <div class="submit-field">
                            <h5>Quelles sont les compétences requises ? <i class="help-icon" data-tippy-placement="right" title="Les compétences qui décrivent le mieux à votre projet"></i></h5>
                            <div class="keywords-container">
                                <div class="keyword-input-container">
                                    <input type="text" class="keyword-input with-border" placeholder="Ajouter des compétences"/>
                                   <!-- <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button> -->
                                </div>
                                <div id="DIV1" class="keywords-list"><!-- keywords go here --></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
  #}
                    <div class="col-xl-10">
                        <div class="section-headline margin-top-25 margin-bottom-35">
                            <h5>Durée</h5>
                            <div class="input-with-icon">
                                <input required class="with-border" type="text" name="duree" placeholder="Quelle est votre estimation ?">
                                <i class="currency">Jours</i>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-8">
                        <div class="submit-field">
                            <h5>Description</h5>
                            <textarea required name="description" cols="30" rows="5" class="with-border"></textarea>
                            <div class="uploadButton margin-top-30">
                                <input class="uploadButton-input" name="attachementPrestation" type="file" accept="application/pdf" id="upload"/>
                                <label class="uploadButton-button ripple-effect" for="upload">Importer</label>
                                <span class="uploadButton-file-name">Choisir un document qui pourrait être utile pour décrire votre projet</span>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <!-- <button  ><i class="icon-feather-plus"></i> </button> -->
            <input class="button ripple-effect big margin-top-30" type="submit" value="Publier la préstation">
        </div>
    </div>
    </form>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

    <script>
    $(document).ready(function() {
        $("#ajouterPrestation").validate();        
        // $("#ajouterPrestation").validate({
        //     rules: {
        //         titre:{
        //             required:true,
        //             minlength: 10
        //         }
        //     },
        //     messages: {
        //         titre:{
        //             required:"Merci de saisir un titre",
        //             minlength: "Votre titre doit comprendre au moins 10 caractères"
        //         }
        //     }
        // });
    });
</script>
    <!-- Row / End -->

{% endblock %}
