{% extends 'base1.html.twig' %}

{% block title %}Mes préstations{% endblock %}

{% block body %}
<!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Gestion des préstations</h3>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="#">Acceuil</a></li>
                        <li>Mes préstations</li>
                    </ul>
                </nav>
            </div>
    
            <!-- Row -->
            <div class="row">
                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">
                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-assignment"></i> Mes préstations</h3>
                        </div>

                        <div class="content">
                            <ul class="dashboard-box-list">       
                            	{% for prestation in prestations %}
                                <li>
                                    <!-- Job Listing -->
                                    <div class="job-listing width-adjustment">

                                        <!-- Job Listing Details -->
                                        <div class="job-listing-details">

                                            <!-- Details -->
                                            <div class="job-listing-description">

                                                <h3 class="job-listing-title"><a href="{{ path('prestationDetails', {'idprestation': prestation.id })}}">{{ prestation.titre }}</a> 
                                                	<span class="dashboard-status-button yellow">Expiring</span>
                                                </h3>
                                                <!-- Job Listing Footer -->
                                                <div class="job-listing-footer">
                                                    <ul>
                                                        <li><i class="icon-material-outline-access-time"></i>{{ prestation.createdAt|ago }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Task Details -->
                                    <ul class="dashboard-task-info">
                                        <li><strong>{{ prestation.duree}}</strong><span>Jours</span></li>
                                        <li><strong>{{ prestation.prixmin|format_currency('EUR') }} - {{ prestation.prixmax|format_currency('EUR') }}</strong><span>Budget</span></li>
                                    </ul>

                                    <!-- Buttons -->
                                    <div class="buttons-to-right always-visible">

                                        <a href="{{ path('GérerLesCandidats', {'idprestation': prestation.id })}}" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Demande <span class="button-info">{{ prestation.demandes|length }}</span></a>
                                        <a href="{{ path('modifierPrestation', {'idprestation': prestation.id })}}" class="button gray ripple-effect ico" title="Modifier" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                                        <a href="{{ path('supprimerPrestation', {'idprestation': prestation.id })}}" class="button gray ripple-effect ico" title="Supprimer" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Row / End -->
{% endblock %}
